<div class="list-group">
  <a type="button" routerLink="dashboard" routerLinkActive="active"
    class="list-group-item  btn-outline-primary btn-primary">Dashboard</a>
  <a type="button" routerLink="mesOffres" routerLinkActive="active"
    class="list-group-item  btn-outline-primary btn-primary">Mes Offres
    d'emploi</a>

  <a type="button" routerLinkActive="active" routerLink="candidatures"
    class="list-group-item  btn-outline-primary btn-primary">Consulter Candidature</a>

  <!-- <a type="button" routerLink="qsdddd" routerLinkActive="active" class="list-group-item ">Suivi et
    Evaluation</a> -->

</div>
