<!--

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link alert-primary" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Statistique Offre emploi
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            Mes offres d'emploi
            <span class="badge badge-pill badge-success"> 215</span>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link alert-primary" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseOne">
          Statistique Recrutement
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            Cras justo odio
            <span class="badge badge-dark">Dark</span>

          </li>
        </ul>
      </div>
    </div>
  </div>


</div>

-->


<div class="card">
  <h5 class="card-header badge-info">Statistiques</h5>
  <div class="card">
    <div class="card-body ">

      <ul class="list-group">
        <li class="list-group-item">
          Mes offres d'emploi &nbsp;&nbsp;&nbsp;
          <span class="badge badge-pill badge-success"> {{nbrMesOffres ? nbrMesOffres : '0'}}</span>

        </li>
        <li class="list-group-item">
          Nombre des Candidatures Inscris
          <span class="badge badge-pill badge-success"> 0</span>

        </li>
        <li class="list-group-item">
          Candidatures Validés
          <span class="badge badge-pill badge-success"> 0</span>

        </li>
        <li class="list-group-item">
          Candidatures En Attente
          <span class="badge badge-pill badge-success"> 0</span>

        </li>
      </ul>

    </div>
  </div>
</div>
<div>
  <div>
    <div class="chart">
      <br>
      <span class="badge-info">Domaines utilisés</span>
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
      </canvas>
      <br>
      <span class="badge-info">Offres d'Emploi</span>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>
