<!--side bar Categories-->
<div class="widget">
  <h5 class="widgetheading">Categories</h5>
  <ul class="cat">
    <li><i class="icon-angle-right"></i><a href="#">Web Angular</a></li>
    <li><i class="icon-angle-right"></i><a href="#">Javascript</a></li>
    <li><i class="icon-angle-right"></i><a href="#">Symfony</a></li>

  </ul>
</div>
<!--side bar Categories-->

<!--side bar Categories-->
<!-- <div class="widget">
  <h5 class="widgetheading">Latest posts</h5>
  <ul class="recent">
    <li>
      <img src="assets/img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
      <h6><a href="#">Lorem ipsum dolor sit</a></h6>
      <p>
        Mazim alienum appellantur eu cu ullum officiis pro pri
      </p>
    </li>
    <li>
      <a href="#"><img src="assets/img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>
      <h6><a href="#">Maiorum ponderum eum</a></h6>
      <p>
        Mazim alienum appellantur eu cu ullum officiis pro pri
      </p>
    </li>
    <li>
      <a href="#"><img src="assets/img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>
      <h6><a href="#">Et mei iusto dolorum</a></h6>
      <p>
        Mazim alienum appellantur eu cu ullum officiis pro pri
      </p>
    </li>
  </ul>
</div> -->
