<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>RECRUTEUR</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="#">Recruteur</a><i class="icon-angle-right"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span4">
        <aside class="left-sidebar">
          <div class="widget">

          </div>
          <!--left side menu -->
          <app-menu></app-menu>

        </aside>
      </div>
      <div class="span8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
